*{
  margin: 0;
}
h1{
  color: white;
  text-shadow: 2px 2px hsla(212, 4%, 50%, 0.66);

}
h1.logo{
  font-size: 30pt;
}
body{
  font-family: sans-serif;
  font-size: 15px;
}
.trip-photo{
  width: 25%;
}

.activity{
  background-color: blue;
}

.add-activity{
  background-color: salmon;
}

nav{
  background-color: #4B77FF;
  padding: 20px;
  margin: 0;
  font-family: 'Chewy', cursive;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  text-shadow: 2px 2px hsla(212, 4%, 50%, 0.66);

}
.trips{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y:scroll;
}
.trip-title{
  margin: 10px;
}
.trip{
  width: 70%;
  background-size: cover;
  padding: 5%;
  margin-left: 5%;
  /*margin-right: 5%;*/
  align-content: center;
  /*display: flex;*/
  /*flex-direction: column;*/
  justify-content: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px hsla(212, 4%, 50%, 0.66);
  height: 30vh;
}

#edit{
  background-color: #CC3C14;
  width: 70%;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-around;
  /*display: none;*/
}

.trip-section{
  margin: 5%
}

#map{
  height: 60vh;
  width: 100%;
  /*border-style: solid;*/

}

.flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.map-add{
  display: flex;
  /*margin-left: 5%;*/
  margin-right: 5%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 70%;


}
.trip-add-form{
  background-color: #CC3C14;
  padding:5px;
}
h3{
  box-shadow: 2px 2px hsla(212, 4%, 50%, 0.66);
  color: white;
}
.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/25520_891512100498_294435_n.jpg?oh=b9844ab4438d6a8fc03155f267c1cb03&oe=596038D1");
  background-size: cover;
  border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
}
.welcome-container{
  background-color: hsla(301, 2%, 50%, 0.5);
  padding: 50px;
  border-radius: 25px;
}
.welcome-container:hover{
  box-shadow: 5px 5px hsla(212, 4%, 50%, 0.66);
  cursor:pointer;
  border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}
