  <div class="flex" ng-controller="TripIndexController">
    <!-- <h1 id="trip-title">My Trips</h1> -->
    <div class="trips">

      <div  ng-repeat="trip in trips">
        <div class="trip-section">
          <div class= "trip" style="background-image:url({{trip.photo_url}});">
            <h1>{{trip.location}}<h1>
            <p>{{trip.time_span}}</p>
            <button ng-click="isEditOpen = !isEditOpen">Edit</button>
            <!-- <button onClick="document.getElementById('edit').style.display = 'inline';å">Edit</button> -->
          </div>
            <div ng-show="isEditOpen"id="edit">
              <h3>Edit Trip</h3>
              <input ng-model="trip.location" ng-change="trips.$save(trip)">
              <input ng-model="trip.time_span" ng-change="trips.$save(trip)">
              <input ng-model="trip.photo_url" ng-change="trips.$save(trip)">
              <button ng-click="trips.$remove(trip)">Delete Trip</button>
            </div>
            <!-- <div class="activity"ng-repeat="activity in trip.activity">
            {{activity.date}}
             <h2>{{activity.title}}</h2>
            <p>{{activity.date}}</p>
            <p>{{activity.description}}</p> -->
            <!-- <img class="trip-photo" ng-src={{activity.photo_url}}> -->
          </div>
          <!-- <h3>Edit Activity</h3>
            <input  type="text"ng-model="trip.activity.title" ng-change="trip.activity.$save(activity)"/>
            <input  type="text"ng-model="trip.activity.date" ng-change="trip.activity.$save(activity)"/>
            <input type="text" ng-model="trip.activity.description" ng-change="trip.activity.$save(activity)"/>
            <input type="text" ng-model="trip.activity.photo_url" ng-change="trip.activity.$save(activity)"/>
            <button ng-click="trip.activity.$remove(trip)">Delete Activity</button> -->
        </div>
    </div>
      <div class="clearfix"></div>
      <div class = "map-add">
        <div class ="trip-add-form">
          <h1>New Trip</h1>
          <form ng-submit="addTrip()">
            <input id="pac-input" type="text" ng-model="location" ng-change="addMarker(location)" placeholder="Where"/>

           <!-- <input id="pac-input" class="controls" type="text" placeholder="location"> -->
            <input  type="text"ng-model="time_span" placeholder="When"/>
            <input type="text" ng-model="photo_url" placeholder="Add Photo URL"/>
            <button type="submit">Add Trip</button>
          </form>
        </div>
        <div id="map"></div>
        </div>
  </div>
