<!-- <div class="activity"ng-repeat="activity in trip.activity">
  <h2>{{activity.title}}</h2>
  <p>{{activity.date}}</p>
  <p>{{activity.description}}</p>
  <img class="trip-photo" ng-src={{activity.photo_url}}>
</div> -->
<!-- <div ng-controller="ActivityIndexController" class="add-activity">
  <h2>Add Activity for {{activity.$id}}</h2>
    <input type="text" ng-model="activity.title"value={{activity.title}}>
  <form ng-submit="addActivity()">
    <input  type="text"ng-model="activity.title" placeholder="Title"/>
    <input  type="text"ng-model="activity.date" placeholder="Date"/>
    <input type="text" ng-model="activity.description" placeholder="Description"/>
    <input type="text" ng-model="activity.photo_url" placeholder="Add Photo URL"/>
    <button type="submit">Add Activity</button>
  </form>

</div> -->
